<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="local.js"></script>
    <link rel="stylesheet" href="../css/orderShipped.css">
    
    <title>Document</title>
</head>
<body>
    <td class="esd-stripe" align="center">
        <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
            <tbody>
                <tr>
                    <td class="esd-structure es-p40t es-p35b es-p35r es-p35l" esd-custom-block-id="7685" style="background-color: #f7f7f7;" bgcolor="#f7f7f7" align="left">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="esd-container-frame" width="530" valign="top" align="center">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-block-image es-p20t es-p25b es-p35r es-p35l" align="center" style="font-size:0"><a target="_blank" href="https://viewstripo.email/"><img src="https://tlr.stripocdn.email/content/guids/CABINET_75694a6fc3c4633b3ee8e3c750851c02/images/83001522239333914.png" alt="ship" style="display: block;" title="ship" width="150"></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-text es-p15b" align="center">
                                                        <h2 style="color: #333333; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;">Your Order Has Shipped!</h2>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-text es-m-txt-l es-p20t" align="left">
                                                        <h3 style="font-size: 18px;">Hello $[NAME],<br></h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-text es-p15t es-p10b" align="left">
                                                        <p style="font-size: 16px; color: #777777;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste ipsa numquam odio dolores, nam.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-button es-p25t es-p20b es-p10r es-p10l" align="center"><span class="es-button-border" style="background: #ed8e20 none repeat scroll 0% 0%;"><a href="https://viewstripo.email" class="es-button es-button-1637227589763" target="_blank" style="font-weight: normal; border-width: 15px 30px; background: #ed8e20 none repeat scroll 0% 0%; border-color: #ed8e20; color: #ffffff; font-size: 18px;"> View Order</a></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="esd-structure es-p40t es-p40b es-p35r es-p35l" esd-custom-block-id="7685" align="left">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="esd-container-frame" width="530" valign="top" align="center">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-block-text es-p20t" align="center">
                                                        <h3 style="color: #333333;">Estimated Delivery Date:<br></h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-text es-p15t es-p10b" align="center">
                                                        <p style="font-size: 16px; color: #777777;">January 1, 2016 - 1:30PM EST</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-block-button es-p20t es-p15b es-p10r es-p10l" align="center"><span class="es-button-border" style="background: #ed8e20 none repeat scroll 0% 0%;"><a href="https://viewstripo.email" class="es-button es-button-1637227589778" target="_blank" style="font-weight: normal; background: #ed8e20 none repeat scroll 0% 0%; border-color: #ed8e20; color: #ffffff; font-size: 18px; border-width: 15px 30px;">Track Order</a></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>






</body>
</html>